<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Created</title>
</head>

<body style="margin:0; padding:0; font-family: 'Arial', sans-serif; background-color: #f6f6f6; color: #1b1b1b;">
  <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #f6f6f6; padding: 20px 0;">
    <tr>
      <td align="center">
        <table width="90%" max-width="400" cellpadding="0" cellspacing="0"
          style="background-color: #fefefe; border-radius: 10px; border: 1px solid #fefefe; padding: 30px; box-sizing: border-box;">

          <tr>
            <td align="center" style="padding-bottom: 20px;">
              <h2 style="margin: 0; color: #1b1b1b; font-size: 24px;">Welcome, {{ email }}</h2>
            </td>
          </tr>

          <tr>
            <td style="padding-bottom: 20px; color: #888888; font-size: 14px;">
              <p style="margin: 0; text-align: center;">Your account has been created successfully. You can now log in
                and start using your account.</p>
            </td>
          </tr>

          <tr>
            <td align="center" style="padding-top: 30px;">
              <hr style="border: none; height: 1px; background-color: #ffc72c; width: 50px; margin: 20px auto;">
            </td>
          </tr>

          <tr>
            <td style="padding-top: 10px; font-size: 14px; color: #888888; text-align: center; line-height: 20px;">
              <span style="font-weight: bold; color: #1b1b1b;">Guiden</span><br>
              New Delhi, Delhi, India<br>
              &copy; {{ current_year }} Guiden. All rights reserved.
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</body>

</html>